$colorfondo1: #ed8526;
$colorfondo2:rgb(18, 85, 194);
$colorfondo3:rgb(189, 189, 189);

$colorref1:orange;
$colorref2: rgb(197, 171, 97);

$colorRecomCapaTexto:black;
$colorRecomCapaFondo:#808080e0;

$colorTextoRecom:white;

$fondorecomendacionDescip:rgb(206, 206, 207);

