  
  
//   Variables
  
//   Export
    @import "_colores"; //actualizara futuro @use-based
    

    $breakpoints: (

      sm: 576px,
      md: 768px,
      lg: 1200px
    );

  
    @mixin media-up($breakpoint){
      @media screen and (max-width: map-get($breakpoints,$breakpoint)){
          @content;
        }
      
    }

  body {
    background-image: url(https://cutewallpaper.org/22/naruto-minimal-wallpapers/526523235.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 30%;
    background-attachment: fixed;
    background-color: #ed8526;
  
    margin: 0px;
    min-height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    grid-template-areas: 
  "header"
  "main" 
  "footer";
  }
  
  header {
    grid-area: header;
    background-image: url(https://i.pinimg.com/originals/fa/3a/6c/fa3a6cb112638bdda62973e635349fdc.png);
    background-repeat: no-repeat;
    background-position: 0px 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  
    background-size: 100%;
    padding-bottom: 130px;
    width: 100%;
    text-align: center;
  }
  
  main {
    margin-bottom: 200px;
    grid-area: main;
    margin-bottom: 30px;
  }
  

  $tamañotitulo: 80px;
  $separacionletrash1: -0.015em;

  h1 {
    display: flex;
    font-family: sans-serif;
    -webkit-text-stroke: 1px rgb(202, 127, 77);
  
    color: transparent;
    font-size: $tamañotitulo;
    font-weight: 700;
    letter-spacing: $separacionletrash1;
    background-image: linear-gradient(180deg, yellow, #ed8526);
    background-clip: text;
    -webkit-background-clip: text;
    height: 80px;
  
    animation: backInLeft;
    animation-duration: 2s;
  
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;

    @include media-up(lg){
      height: 70px;
      font-size: calc($tamañotitulo/1.1);
    }
    
    
    @include media-up(md){
      height: 60px;
      font-size: calc($tamañotitulo/1.3);
    }
    @include media-up(sm){
      height: 35px;
      font-size: calc($tamañotitulo/2.2);
    }
    
  }
  
  h2 {
    font-family: sans-serif;
  }
  
  a{
          a:link {
            text-decoration: none;
          }
          a:visited {

            text-decoration: none;
            color: black;
          }

  }
  
  
  ul {
    list-style: none;
  }
  
  $padding_barra:10px;
  .barra {
    background-color: rgb(18, 85, 194);
    /* height: 500px; */
    padding: $padding_barra;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    top: -2px;

    
    @include media-up(lg){
      flex-direction: column;
      
    }
    
    
  }

  $padding_barramenuarriba:20px;
  .barra__menu {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    /* margin-top: 0; */
    /* padding-left: 0; */
    padding-top: $padding_barramenuarriba;
    /* padding-bottom: 5px; */
    /* top: 50%; */
    @include media-up(lg){
      
      width: 100%;
    }
    

  }
  $tamaño_letra_boton: 40px;
  $padding_x_boton: 15px;
  $padding_y_boton: 10px;
  
  .button {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    max-width: auto;
    font-family: sans-serif;
    font-size: $tamaño_letra_boton;
  
    padding-left: $padding_x_boton;
    padding-right: $padding_x_boton;
    padding-top: $padding_y_boton;
    padding-bottom: $padding_y_boton;
    text-align: center;
    /* background-color: #ed8526; */
    color: orange;
    font-weight: 700;
    -webkit-text-stroke: 0.2px white;
    letter-spacing: -0.02em;
  
    border: 0px;
    background-color: transparent;
    transition: 0.8s;
    object-fit: cover;

            .button:hover {
            transform: scale(1.2);
            }
            
            @include media-up(lg){
              
              font-size: calc($tamaño_letra_boton/1.4);
            }
            
            
            @include media-up(md){
              
              font-size: calc($tamaño_letra_boton/1.7);
            }
            @include media-up(sm){
              
              font-size: calc($tamaño_letra_boton/2.2);
            }
  }
  
  
  $trailers_margentop:10px;
  .trailer {
    display: flex;
    flex-direction: column;
    margin-top: $trailers_margentop;

    @include media-up(lg){
    grid-template-columns: 1fr;
      grid-template-rows: 1fr 6fr;
      grid-template-areas:
        "titulo"
        "videos";
      margin: 20px;
    }
  }
  

  $margentitulotrailer:15%;
  $titulatrailerborde:0px;
  $titulaTrailerBordeRadio:10px;
  $paddingtitulotrailer:5px;

  .trailer__titulo__texto {
    grid-area: titulo;

    margin-left: $margentitulotrailer;
    display: flex;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
    background-color: rgb(18, 85, 194);
    border: $titulatrailerborde;
    border-style: solid;
    border-radius: $titulaTrailerBordeRadio;
    border-color: rgb(206, 206, 207);
    color: white;
    font-family: sans-serif;
    padding-top: $paddingtitulotrailer;
    padding-bottom: $paddingtitulotrailer;
    text-align: center;
  }

  $trailerGaleriaPadding:5px;
  
  .trailer__galeri {
    display: flex;
    padding: $trailerGaleriaPadding;
    justify-content: center;
    align-content: center;

    @include media-up(lg){
    display: grid;
      padding: 5px;
      grid-area: "videos";
      grid-template-areas:
        "video1"
        "video2";
      }
  }

  $tamañoVideo_x:560px;
  
  $tamañoVideo_y:315px;


  .trailer__galeri__video {
    padding: 15px;
    width: $tamañoVideo_x;
    height: $tamañoVideo_y;

            @include media-up(lg){
                    .video1{
                      grid-area: video1;
                            width: calc($tamañoVideo_x/2);
                            height: calc($tamañoVideo_y/2);
                    }
                    .video2{
                      grid-area: video2;
                      width: calc($tamañoVideo_x/2);
                      height: calc($tamañoVideo_y/2);
                    }
    
  }
  }
  

 
  .recom__titulo__texto {
    margin-left: $margentitulotrailer;
    display: flex;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
    background-color: rgb(18, 85, 194);
    border: $titulatrailerborde;
    border-style: solid;
    border-radius: $titulaTrailerBordeRadio;
    border-color: rgb(206, 206, 207);
    color: white;
    font-family: sans-serif;
    padding-top: $paddingtitulotrailer;
    padding-bottom: $paddingtitulotrailer;
    text-align: center
    
    
  }

  
  $margenCostadosContenedor:5%;
  $margenAbajoContenedor:40px;
  $separacionContenedor:20px;


  .contenedor {
    display: grid;
    margin-bottom: auto;
  
    margin-left: $margenCostadosContenedor;
    margin-right: $margenCostadosContenedor;
    margin-bottom: $margenAbajoContenedor;
    
    grid-gap: $separacionContenedor;
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "contenedor1 contenedor1"
      "contenedor2 contenedor3";

      @include media-up(lg){
        
        
      
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr 0.5fr;
      grid-template-areas:
        "contenedor1 "
        "contenedor2"
        "contenedor3";
      } 
  }

  
  .contenedor1 {
    grid-area: contenedor1;
    // height: auto;
    // margin-bottom: auto;
    
  }
  
  .contenedor2 {
    grid-area: contenedor2;
    // height: auto;
    margin-bottom: auto;
  }
  .contenedor3 {
    grid-area: contenedor3;
    // height: 100%;
    margin-bottom: auto;
  }
  
  .recomendacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    flex-wrap: wrap;
    transition: all 500ms ease;
  }
  //   grid-template-columns: repeat(3,1fr);

  // }
  

  // #recomendacion{
  //   grid-area: recomendacio;
  // }
  // #recomendacion2{
  //   grid-area: recomendacio2;
  // }
  // #recomendacion3{
  //   grid-area: recomendacio3;
  // }
  // #recomendacion4{
  //   grid-area: recomendacio4;
  // }
  // #recomendacion5{
  //   grid-area: recomendacio5;
  // }
  /*  */

  $recom_ancho:270px;
  $recom_alto:450px;
  $margenRecom:1rem;
  $recom_padding:30px;
  $recomBorederRadio:25px;
  
  .recomendacion__animepre {
    width: $recom_ancho;
    height: $recom_alto;
    margin: $margenRecom;
    display: flex;
    flex-direction: column;
    padding: $recom_padding;
  
    border: 0px;
    border-style: solid;
  
    border-color: rgb(18, 85, 194);
    border-radius: $recomBorederRadio;
    background-color: $colorref1;
    text-align: center;

    @include media-up(lg){
    width: calc($recom_ancho/1.3);
    height: calc($recom_alto/1.3);
    margin: calc($margenRecom/1.3);
    padding: calc($recom_padding/1.3);
    border-radius: calc($recomBorederRadio/1.3);
    
    }
    @include media-up(md){
      width: calc($recom_ancho/1.8);
      height: calc($recom_alto/1.8);
      margin: calc($margenRecom/1.8);
      padding: calc($recom_padding/1.8);
      border-radius: calc($recomBorederRadio/1.8);
      
    }
      @include media-up(sm){
        width: calc($recom_ancho/2);
        height: calc($recom_alto/2);
        margin: calc($margenRecom/2);
        padding: calc($recom_padding/2);
        border-radius: calc($recomBorederRadio/2);
        
    }




  }


  $imagenRecomMaxAncho:170px;
  $imagenRecomMaxAlto:470px;
  
  $imagenRecom_MarginCostados:1.5rem;
  $imagenRecom_MarginVertical:20px;
  
  .recomendacion__animepre__imagenpre {
    width: 100%;
    height: 100%;
    max-width: $imagenRecomMaxAncho;
    max-height: $imagenRecomMaxAlto;
    margin-left: $imagenRecom_MarginCostados;
    margin-right: $imagenRecom_MarginCostados;
    margin-top: $imagenRecom_MarginVertical;
  
    margin-bottom: $imagenRecom_MarginVertical;
  
    @include media-up(lg){
      
      max-width: calc($imagenRecomMaxAncho/1.2);
      max-height: calc($imagenRecomMaxAlto/1.2);
      margin-left: calc($imagenRecom_MarginCostados/1.2);
      margin-right: calc($imagenRecom_MarginCostados/1.2);
      margin-top: calc($imagenRecom_MarginVertical/1.2);
  
      margin-bottom: calc($imagenRecom_MarginVertical/1.2);
      
      }
      @include media-up(md){

      max-width: calc($imagenRecomMaxAncho/1.6);
      max-height: calc($imagenRecomMaxAlto/1.6);
      margin-left: calc($imagenRecom_MarginCostados/1.6);
      margin-right: calc($imagenRecom_MarginCostados/1.6);
      margin-top: calc($imagenRecom_MarginVertical/1.6);
      margin-bottom: calc($imagenRecom_MarginVertical/1.6);
        
      }
        @include media-up(sm){
          max-width: calc($imagenRecomMaxAncho/2);
      max-height: calc($imagenRecomMaxAlto/2);
      margin-left: calc($imagenRecom_MarginCostados/2);
      margin-right: calc($imagenRecom_MarginCostados/2);
      margin-top: calc($imagenRecom_MarginVertical/2);
      margin-bottom: calc($imagenRecom_MarginVertical/2);
          
      }
  
  
  
  }


      $recomCapaReacomodo:-30px;
      $recomCapaPadding:30px;
      $recomCapaAnchoMin:100px;
      $recomCapaAltoMin:150px;
      $recomCapaAncho:270px;
      $recomCapaAlto:450px;
      $recomCapaBordeRadio:25px;
    
    .recomendacion__animepre
      .recomendacion__animepre__imagenpre__capa {
      margin-left: $recomCapaReacomodo;
      margin-top: $recomCapaReacomodo;
    
      background-color: $colorref2;
      background-image: url(/imagenes/bojjifondo.jpg);
      background-size: 100%;
    
      padding: $recomCapaPadding;
    
      // min-width: $recomCapaAncho;
      // min-height: $recomCapaAlto;
      width:$recomCapaAncho ;
      height: $recomCapaAlto;
      
      // max-width: 270px;
      // max-height: 450px;
    
      display: flex;
      flex-direction: column;
    
      justify-content: center;
      align-content: center;
      border: 0px;
    
      border-radius: $recomCapaBordeRadio;
    
      position: absolute;
      /* background: orange; */
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: inherit;

      @include media-up(lg){
      margin-left: calc($recomCapaReacomodo/1.3);
      margin-top: calc($recomCapaReacomodo/1.3);
      padding: calc($recomCapaPadding/1.3);
      width: calc($recomCapaAncho/1.3);
      height: calc($recomCapaAlto/1.3);
      border-radius: calc($recomCapaBordeRadio/1.3);
      
      
        }
        @include media-up(md){
          margin-left: calc($recomCapaReacomodo/1.8);
      margin-top: calc($recomCapaReacomodo/1.8);
      padding: calc($recomCapaPadding/1.8);
      width: calc($recomCapaAncho/1.8) ;
      height: calc($recomCapaAlto/1.8);
      border-radius: calc($recomCapaBordeRadio/1.8);
  
       
        }
          @include media-up(sm){
            margin-left: calc($recomCapaReacomodo/2);
      margin-top: calc($recomCapaReacomodo/2);
      padding: calc($recomCapaPadding/2);
      width: calc($recomCapaAncho/2) ;
      height: calc($recomCapaAlto/2);
      border-radius: calc($recomCapaBordeRadio/2);
        }
    }
  
  
  
    
  
  .recomendacion
    .recomendacion__animepre:hover
    > .recomendacion__animepre__imagenpre__capa {
    opacity: 1;
    visibility: visible;
  }
  


  $recomCapah4LetraTamaño: 17px;
  $recomCapah4Marge: 5px;
  $recomCapah4Padding: 10px;
  $recomCapah4Border: 0px;
  $recomCapah4BorderRadio:5px;
  .recomendacion
    .recomendacion__animepre
    .recomendacion__animepre__imagenpre__capa
    h4 {

    color: $colorRecomCapaTexto;
  
    font-family: sans-serif;
    transition: all 500ms ease-out;
    margin-top: $recomCapah4Marge;
    margin-bottom: $recomCapah4Marge;
    
  
    
    font-size: $recomCapah4LetraTamaño;
  
    background-color: $colorRecomCapaFondo;
    padding: $recomCapah4Padding;
    border: $recomCapah4Border;
    border-radius: $recomCapah4BorderRadio;

      
    @include media-up(lg){
      font-size: calc($recomCapah4LetraTamaño/1.3);
    margin-top: calc($recomCapah4Marge/1.3);
    margin-bottom: calc($recomCapah4Marge/1.3);
    
    padding: calc($recomCapah4Padding/1.3);
    border: calc($recomCapah4Border/1.3);
    border-radius: calc($recomCapah4BorderRadio/1.3);
    
    }
    @include media-up(md){
      font-size: calc($recomCapah4LetraTamaño/1.8);
      margin-top: calc($recomCapah4Marge/1.8);
      margin-bottom: calc($recomCapah4Marge/1.8);
      
      padding: calc($recomCapah4Padding/1.8);
      border: calc($recomCapah4Border/1.8);
      border-radius: calc($recomCapah4BorderRadio/1.8);  
    }
    @include media-up(sm){
      font-size: calc($recomCapah4LetraTamaño/2);
      margin-top: calc($recomCapah4Marge/2);
    margin-bottom: calc($recomCapah4Marge/2);
    
    padding: calc($recomCapah4Padding/2);
    border: calc($recomCapah4Border/2);
    border-radius: calc($recomCapah4BorderRadio/2);
   }

  }
  


  $recomCapaPTamañoTexto:17px;
  $recomCapaPPadding:10px;
  $recomCapaPBorderRadio:5px;
  $recomCapaPAnchoMax:250px;

  .recomendacion
    .recomendacion__animepre
    .recomendacion__animepre__imagenpre__capa
    p {
    color: $colorRecomCapaTexto;
    
    font-family: sans-serif;
    line-height: 1;
  
    font-size: $recomCapaPTamañoTexto;
  
    background-color: $colorRecomCapaFondo;
    padding: $recomCapaPPadding;
    border: 0px;
    border-radius: $recomCapaPBorderRadio;
  
    text-align: center;
    width: 100%;
    max-width: $recomCapaPAnchoMax;
    margin: auto;

    @include media-up(lg){
      font-size: calc($recomCapaPTamañoTexto/1.3);
      max-width: calc($recomCapaPAnchoMax/1.3);
      border-radius: calc($recomCapaPBorderRadio/1.3);
    
    padding: calc($recomCapaPPadding/1.3);
   
    
    }
    @include media-up(md){
      font-size: calc($recomCapaPTamañoTexto/1.8);
      max-width: calc($recomCapaPAnchoMax/1.8);
      border-radius: calc($recomCapaPBorderRadio/1.8);
    
    padding: calc($recomCapaPPadding/1.8); 
    }
    @include media-up(sm){
      font-size: calc($recomCapaPTamañoTexto/2);
      max-width: calc($recomCapaPAnchoMax/2);
      border-radius: calc($recomCapaPBorderRadio/2);
    
    padding: calc($recomCapaPPadding/2);
   }
  }
  
   
  $recomNombreTamañoTexto: 20px;
  $recomNombreBorderRadio: 5px;
  $colorTextoRecom:white;
  .recomendacion__animepre__nombre {
    background-color: rgb(18, 85, 194);
    font-size: $recomNombreTamañoTexto;
    
    border: 0px;
    border-style: solid;
    border-radius: $recomNombreBorderRadio;
  
    color: $colorTextoRecom;
    border-color: none;

    @include media-up(lg){
      font-size: calc($recomNombreTamañoTexto/1.2);
      border-radius: calc($recomNombreBorderRadio/1.2);
    }
    @include media-up(md){
      font-size: calc($recomNombreTamañoTexto/1.6);
      border-radius: calc($recomNombreBorderRadio/1.6)
      
    }
    @include media-up(sm){
      font-size: calc($recomNombreTamañoTexto/2);
      border-radius: calc($recomNombreBorderRadio/2)   
    }
  }
  $recomPuntajeTamañoTexto: 17px;
  $recomValoracionRadio: 5px;
  .recomendacion__animepre__valoracion {
    background-color: rgb(18, 85, 194);
    font-size: $recomPuntajeTamañoTexto;
    border: 0px;
    border-style: solid;
    border-radius: $recomValoracionRadio;
  
    color: $colorTextoRecom;

    @include media-up(lg){
      font-size: calc($recomPuntajeTamañoTexto/1.2);
      border-radius: calc($recomNombreBorderRadio/1.2);
    }
    @include media-up(md){
      font-size: calc($recomPuntajeTamañoTexto/1.6);
      border-radius: calc($recomNombreBorderRadio/1.6)
      
    }
    @include media-up(sm){
      font-size: calc($recomPuntajeTamañoTexto/2);
      border-radius: calc($recomNombreBorderRadio/2)   
    }
  }
  

  .recom__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  $recomendacionTMargenIzq:15%;
  $recomendacionTAncho: 230px;
  // $recomendacionTAlto: 200px;
  $recomendacionTBorderRadius: 10px;
  $recomendacionTPaddingHorizontal: 80px;
  $recomendacionTPaddingVertical: 5px;
  $recomendacionTTamañoLetra: 20px;
  .recom__texto__titulo {
    margin-left: $recomendacionTMargenIzq;
    display: flex;
    justify-content: center;
    text-align: center;
    width: $recomendacionTAncho;
    
    background-color: $colorfondo2;
    border: 2px;
    border-style: solid;
    border-radius: $recomendacionTBorderRadius;
    // border-color: rgb(206, 206, 207);
    color: $colorTextoRecom;
    font-family: sans-serif;
    font-size: $recomendacionTTamañoLetra;
    padding-top: $recomendacionTPaddingVertical;
    padding-bottom: $recomendacionTPaddingVertical;
    padding-left: $recomendacionTPaddingHorizontal;
    padding-right: $recomendacionTPaddingHorizontal;
  
    @include media-up(lg){
      font-size: calc($recomendacionTTamañoLetra/1.2);
      margin-left: calc($recomendacionTMargenIzq/1.2);
      width: calc($recomendacionTAncho/1.2);
      border-radius: calc($recomendacionTBorderRadius/1.2);
      padding-top: calc($recomendacionTPaddingVertical/1.2);
      padding-bottom: calc($recomendacionTPaddingVertical/1.2);
      padding-left: calc($recomendacionTPaddingHorizontal/1.2);
      padding-right: calc($recomendacionTPaddingHorizontal/1.2);
    }
    @include media-up(md){
      font-size: calc($recomendacionTTamañoLetra/1.5);
      margin-left: calc($recomendacionTMargenIzq/1.5);
      width: calc($recomendacionTAncho/1.5);
      border-radius: calc($recomendacionTBorderRadius/1.5);
      padding-top: calc($recomendacionTPaddingVertical/1.5);
      padding-bottom: calc($recomendacionTPaddingVertical/1.5);
      padding-left: calc($recomendacionTPaddingHorizontal/1.5);
      padding-right: calc($recomendacionTPaddingHorizontal/1.5);
      
    }
    @include media-up(sm){
      font-size: calc($recomendacionTTamañoLetra/1.7);
      margin-left: calc($recomendacionTMargenIzq/1.7);
      width: calc($recomendacionTAncho/1.7);
      border-radius: calc($recomendacionTBorderRadius/1.7);
      padding-top: calc($recomendacionTPaddingVertical/1.7);
      padding-bottom: calc($recomendacionTPaddingVertical/1.7);
      padding-left: calc($recomendacionTPaddingHorizontal/1.7);
      padding-right: calc($recomendacionTPaddingHorizontal/1.7);  
    }
  
  }


  $recomendacionDescripMargin:30px;
  $recomendacionDescripTamañoLetra: 20px;
  $recomendacionDescripBorderRadius:5px;
  .recom__texto__descrip {
    margin:$recomendacionDescripMargin;
    padding: 10px;
    font-size: $recomendacionDescripTamañoLetra;
    background-color: $fondorecomendacionDescip;
    border-style: solid;
    border-radius: $recomendacionDescripBorderRadius;
    border-color: $fondorecomendacionDescip;
  
    @include media-up(lg){
      border-radius: calc($recomendacionDescripBorderRadius/1.2);
      font-size: calc($recomendacionDescripTamañoLetra/1.2);
      margin: calc($recomendacionDescripMargin/1.2);
    }
    @include media-up(md){
      border-radius: calc($recomendacionDescripBorderRadius/1.5);
      font-size: calc($recomendacionDescripTamañoLetra/1.5);
      margin: calc($recomendacionDescripMargin/1.5);
      
    }
    @include media-up(sm){
      border-radius: calc($recomendacionDescripBorderRadius/1.7);
      font-size: calc($recomendacionDescripTamañoLetra/1.7);
      margin: calc($recomendacionDescripMargin/1.7);
    }
  
  }
  
  /* PAGINA: GENEROS PAGINAS */
  @import "_generos";

  /* PAGINA: QUIENSOY*/
  @import "_quiensoy";

  /* PIE DE PAGINA */
  @import "_footer";
