body {
    background-image: url(https://cutewallpaper.org/22/naruto-minimal-wallpapers/526523235.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 30%;
    background-attachment: fixed;
    background-color: #ed8526;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
  
}

 header{
    background-color: rgb(18, 85, 194);
    margin: 0;
    padding-bottom: 20px;  
    

 }


h1{
    display: flex;
    justify-content: center;
    /* font-family: 'Ultra',Arial, Helvetica, sans-serif; */
    font-family: 'Source Serif Pro', serif,Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 5%;
    color: white;
}

a:link {
    text-decoration: none;

}
a:visited{/* Funciona para evitar que el link aparesca morado */
    text-decoration: none;
    color: black; 

}
ul{
    list-style: none;
}

/* CLASS */
.titular{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 80px;
}

.menu {
    
    background-color:rgb(18, 85, 194) ;
    
    position: sticky;
    top: -2px;
    
    
}

.menu__barra{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
    /* z-index:2; */
}
.menu__barra__item{
    margin-top: 0;
    
    margin-left: 0;
    width: 100%;
    max-width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    
    background-color: rgb(189, 189, 189);
    color: black;
    font-size: 20px;
    
    border: 5px;
    border-radius: 10px;
    border-style:solid;
    border-color: rgb(125, 125, 125);

}
.generos{
    margin: 10px;
    padding: 20px;
}
.generos__titulogeneros{
    
    /* transform: translate(-50%,-50%);
    margin-left: 50%; */
    /* position: absolute; z-index:1; */

    display: flex;
    justify-content: center;
    max-width: 200px;;
    max-height: 200px;
    background-color: rgb(8, 8, 126);
    border: 2px;
    border-style: solid;
    border-radius: 45px;
    border-color: rgb(206, 206, 207);
    color: white;
    font-family: 'Source Serif Pro', serif,Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.genero__contenedor{
display: flex;
justify-content: center

}
.genero__contenedor__catalogo{

    display:flex ;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 200px;

}

.genero__contenedor__catalogo__genespecific{
    
    /* margin: 100px; */
    
    /* background-size: 100%; */
    
    /* border: 5px; */
    /* border-style: solid; */
    min-width: 200px;
    width: 350px;
    height: 130px;

    margin: 20px;
    display: flex;
    flex-direction: column;  
    padding: 30px;  

    align-content: center;
    border: 2px;
    border-style: solid;
    
    border-color:rgba(18, 86, 194, 0.592);
    border-radius: 25px;
    
    text-align: center;

}
#genero__contenedor__catalogo__genespecific--accion{
    background-image: url(../imagenes/generoAccion.jpg);
    background-size: 100%;
    background-repeat: no-repeat;


    
}
#genero__contenedor__catalogo__genespecific--romance{
    background-image: url(../imagenes/animeRomance.jpg);
    background-size: 100%;
    background-repeat: no-repeat;


    
}
.genero__contenedor__catalogo__genespecific__nombre{
    font-size: 40px;
    text-align: center;
    /* padding: 10px; */

    background-color: rgba(18, 86, 194, 0.752);
   
    color: white;
    border: 0px;
    border-style: solid;
    border-color: rgba(18, 86, 194, 0.592);
    border-radius: 15px;
}


.piedepagina{
    background-color: rgb(18, 85, 194);
    display: flex;
    flex-direction: column;

    padding: 20px;
    align-items:flex-start;
    border: 2px;
    
    border-style: solid;
    border-color: rgb(18, 85, 194);
    
}
.piedepagina__redes__iconos{
    display: inline;
}
.piedepagina__redes__titulo{
    
    color: white;
}
.piedepagina__redes__iconos__redes{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    color: white;
}
.piedepagina__agradecimiento{
   color: white; 
}