body {
  background-image: url(https://cutewallpaper.org/22/naruto-minimal-wallpapers/526523235.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 30%;
  background-attachment: fixed;
  background-color: #ed8526;
  margin: 0px;
  min-height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
  background-image: url(https://i.pinimg.com/originals/fa/3a/6c/fa3a6cb112638bdda62973e635349fdc.png);
  background-repeat: no-repeat;
  background-position: 0px 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-size: 100%;
  padding-bottom: 130px;
  width: 100%;
  text-align: center;
}

main {
  margin-bottom: 200px;
  grid-area: main;
  margin-bottom: 30px;
}

h1 {
  display: flex;
  font-family: sans-serif;
  -webkit-text-stroke: 1px rgb(202, 127, 77);
  color: transparent;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -0.015em;
  background-image: linear-gradient(180deg, yellow, #ed8526);
  background-clip: text;
  -webkit-background-clip: text;
  height: 80px;
  animation: backInLeft;
  animation-duration: 2s;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  h1 {
    height: 70px;
    font-size: 72.7272727273px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    height: 60px;
    font-size: 61.5384615385px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    height: 35px;
    font-size: 36.3636363636px;
  }
}

h2 {
  font-family: sans-serif;
}

a a:link {
  text-decoration: none;
}
a a:visited {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.barra {
  background-color: rgb(18, 85, 194);
  /* height: 500px; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  top: -2px;
}
@media screen and (max-width: 1200px) {
  .barra {
    flex-direction: column;
  }
}

.barra__menu {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
  /* margin-top: 0; */
  /* padding-left: 0; */
  padding-top: 20px;
  /* padding-bottom: 5px; */
  /* top: 50%; */
}
@media screen and (max-width: 1200px) {
  .barra__menu {
    width: 100%;
  }
}

.button {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  max-width: auto;
  font-family: sans-serif;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  /* background-color: #ed8526; */
  color: orange;
  font-weight: 700;
  -webkit-text-stroke: 0.2px white;
  letter-spacing: -0.02em;
  border: 0px;
  background-color: transparent;
  transition: 0.8s;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .button {
    font-size: 21.4285714286px;
  }
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 17.6470588235px;
  }
}
@media screen and (max-width: 576px) {
  .button {
    font-size: 13.6363636364px;
  }
}

.button:hover {
  transform: scale(1.2);
}

.trailer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  .trailer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: "titulo" "videos";
    margin: 20px;
  }
}

.trailer__titulo__texto {
  grid-area: titulo;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
  background-color: rgb(18, 85, 194);
  border: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(206, 206, 207);
  color: white;
  font-family: sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.trailer__galeri {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 1200px) {
  .trailer__galeri {
    display: grid;
    padding: 5px;
    grid-area: "videos";
    grid-template-areas: "video1" "video2";
  }
}

.trailer__galeri__video {
  padding: 15px;
  width: 460px;
  height: 270px;
}
@media screen and (max-width: 1200px) {
  .trailer__galeri__video .video1 {
    grid-area: video1;
    width: 230px;
    height: 135px;
  }
  .trailer__galeri__video .video2 {
    grid-area: video2;
    width: 230px;
    height: 135px;
  }
}

.recom__titulo__texto {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
  background-color: rgb(18, 85, 194);
  border: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(206, 206, 207);
  color: white;
  font-family: sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.contenedor {
  display: grid;
  margin-bottom: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "contenedor1 contenedor1" "contenedor2 contenedor3";
}
@media screen and (max-width: 1200px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas: "contenedor1 " "contenedor2" "contenedor3";
  }
}

.contenedor1 {
  grid-area: contenedor1;
}

.contenedor2 {
  grid-area: contenedor2;
  margin-bottom: auto;
}

.contenedor3 {
  grid-area: contenedor3;
  margin-bottom: auto;
}

.recomendacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 500ms ease;
}

/*  */
.recomendacion__animepre {
  width: 270px;
  height: 450px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 0px;
  border-style: solid;
  border-color: rgb(18, 85, 194);
  border-radius: 25px;
  background-color: orange;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .recomendacion__animepre {
    width: 207.6923076923px;
    height: 346.1538461538px;
    margin: 0.7692307692rem;
    padding: 23.0769230769px;
    border-radius: 19.2307692308px;
  }
}
@media screen and (max-width: 768px) {
  .recomendacion__animepre {
    width: 150px;
    height: 250px;
    margin: 0.5555555556rem;
    padding: 16.6666666667px;
    border-radius: 13.8888888889px;
  }
}
@media screen and (max-width: 576px) {
  .recomendacion__animepre {
    width: 135px;
    height: 225px;
    margin: 0.5rem;
    padding: 15px;
    border-radius: 12.5px;
  }
}

.recomendacion__animepre__imagenpre {
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 470px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .recomendacion__animepre__imagenpre {
    max-width: 141.6666666667px;
    max-height: 391.6666666667px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 16.6666666667px;
    margin-bottom: 16.6666666667px;
  }
}
@media screen and (max-width: 768px) {
  .recomendacion__animepre__imagenpre {
    max-width: 106.25px;
    max-height: 293.75px;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }
}
@media screen and (max-width: 576px) {
  .recomendacion__animepre__imagenpre {
    max-width: 85px;
    max-height: 235px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.recomendacion__animepre .recomendacion__animepre__imagenpre__capa {
  margin-left: -30px;
  margin-top: -30px;
  background-color: rgb(197, 171, 97);
  background-image: url(/imagenes/bojjifondo.jpg);
  background-size: 100%;
  padding: 30px;
  width: 270px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 0px;
  border-radius: 25px;
  position: absolute;
  /* background: orange; */
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: inherit;
}
@media screen and (max-width: 1200px) {
  .recomendacion__animepre .recomendacion__animepre__imagenpre__capa {
    margin-left: -23.0769230769px;
    margin-top: -23.0769230769px;
    padding: 23.0769230769px;
    width: 207.6923076923px;
    height: 346.1538461538px;
    border-radius: 19.2307692308px;
  }
}
@media screen and (max-width: 768px) {
  .recomendacion__animepre .recomendacion__animepre__imagenpre__capa {
    margin-left: -16.6666666667px;
    margin-top: -16.6666666667px;
    padding: 16.6666666667px;
    width: 150px;
    height: 250px;
    border-radius: 13.8888888889px;
  }
}
@media screen and (max-width: 576px) {
  .recomendacion__animepre .recomendacion__animepre__imagenpre__capa {
    margin-left: -15px;
    margin-top: -15px;
    padding: 15px;
    width: 135px;
    height: 225px;
    border-radius: 12.5px;
  }
}

.recomendacion .recomendacion__animepre:hover > .recomendacion__animepre__imagenpre__capa {
  opacity: 1;
  visibility: visible;
}

.recomendacion .recomendacion__animepre .recomendacion__animepre__imagenpre__capa h4 {
  color: black;
  font-family: sans-serif;
  transition: all 500ms ease-out;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  background-color: rgba(128, 128, 128, 0.8784313725);
  padding: 10px;
  border: 0px;
  border-radius: 5px;
}
@media screen and (max-width: 1200px) {
  .recomendacion .recomendacion__animepre .recomendacion__animepre__imagenpre__capa h4 {
    font-size: 13.0769230769px;
    margin-top: 3.8461538462px;
    margin-bottom: 3.8461538462px;
    padding: 7.6923076923px;
    border: 0px;
    border-radius: 3.8461538462px;
  }
}
@media screen and (max-width: 768px) {
  .recomendacion .recomendacion__animepre .recomendacion__animepre__imagenpre__capa h4 {
    font-size: 9.4444444444px;
    margin-top: 2.7777777778px;
    margin-bottom: 2.7777777778px;
    padding: 5.5555555556px;
    border: 0px;
    border-radius: 2.7777777778px;
  }
}
@media screen and (max-width: 576px) {
  .recomendacion .recomendacion__animepre .recomendacion__animepre__imagenpre__capa h4 {
    font-size: 8.5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 5px;
    border: 0px;
    border-radius: 2.5px;
  }
}

.recomendacion .recomendacion__animepre .recomendacion__animepre__imagenpre__capa p {
  color: black;
  font-family: sans-serif;
  line-height: 1;
  font-size: 17px;
  background-color: rgba(128, 128, 128, 0.8784313725);
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .recomendacion .recomendacion__animepre .recomendacion__animepre__imagenpre__capa p {
    font-size: 13.0769230769px;
    max-width: 192.3076923077px;
    border-radius: 3.8461538462px;
    padding: 7.6923076923px;
  }
}
@media screen and (max-width: 768px) {
  .recomendacion .recomendacion__animepre .recomendacion__animepre__imagenpre__capa p {
    font-size: 9.4444444444px;
    max-width: 138.8888888889px;
    border-radius: 2.7777777778px;
    padding: 5.5555555556px;
  }
}
@media screen and (max-width: 576px) {
  .recomendacion .recomendacion__animepre .recomendacion__animepre__imagenpre__capa p {
    font-size: 8.5px;
    max-width: 125px;
    border-radius: 2.5px;
    padding: 5px;
  }
}

.recomendacion__animepre__nombre {
  background-color: rgb(18, 85, 194);
  font-size: 20px;
  border: 0px;
  border-style: solid;
  border-radius: 5px;
  color: white;
  border-color: none;
}
@media screen and (max-width: 1200px) {
  .recomendacion__animepre__nombre {
    font-size: 16.6666666667px;
    border-radius: 4.1666666667px;
  }
}
@media screen and (max-width: 768px) {
  .recomendacion__animepre__nombre {
    font-size: 12.5px;
    border-radius: 3.125px;
  }
}
@media screen and (max-width: 576px) {
  .recomendacion__animepre__nombre {
    font-size: 10px;
    border-radius: 2.5px;
  }
}

.recomendacion__animepre__valoracion {
  background-color: rgb(18, 85, 194);
  font-size: 17px;
  border: 0px;
  border-style: solid;
  border-radius: 5px;
  color: white;
}
@media screen and (max-width: 1200px) {
  .recomendacion__animepre__valoracion {
    font-size: 14.1666666667px;
    border-radius: 4.1666666667px;
  }
}
@media screen and (max-width: 768px) {
  .recomendacion__animepre__valoracion {
    font-size: 10.625px;
    border-radius: 3.125px;
  }
}
@media screen and (max-width: 576px) {
  .recomendacion__animepre__valoracion {
    font-size: 8.5px;
    border-radius: 2.5px;
  }
}

.recom__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recom__texto__titulo {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 230px;
  background-color: rgb(18, 85, 194);
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
}
@media screen and (max-width: 1200px) {
  .recom__texto__titulo {
    font-size: 16.6666666667px;
    margin-left: 12.5%;
    width: 191.6666666667px;
    border-radius: 8.3333333333px;
    padding-top: 4.1666666667px;
    padding-bottom: 4.1666666667px;
    padding-left: 66.6666666667px;
    padding-right: 66.6666666667px;
  }
}
@media screen and (max-width: 768px) {
  .recom__texto__titulo {
    font-size: 13.3333333333px;
    margin-left: 10%;
    width: 153.3333333333px;
    border-radius: 6.6666666667px;
    padding-top: 3.3333333333px;
    padding-bottom: 3.3333333333px;
    padding-left: 53.3333333333px;
    padding-right: 53.3333333333px;
  }
}
@media screen and (max-width: 576px) {
  .recom__texto__titulo {
    font-size: 11.7647058824px;
    margin-left: 8.8235294118%;
    width: 135.2941176471px;
    border-radius: 5.8823529412px;
    padding-top: 2.9411764706px;
    padding-bottom: 2.9411764706px;
    padding-left: 47.0588235294px;
    padding-right: 47.0588235294px;
  }
}

.recom__texto__descrip {
  margin: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(206, 206, 207);
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(206, 206, 207);
}
@media screen and (max-width: 1200px) {
  .recom__texto__descrip {
    border-radius: 4.1666666667px;
    font-size: 16.6666666667px;
    margin: 25px;
  }
}
@media screen and (max-width: 768px) {
  .recom__texto__descrip {
    border-radius: 3.3333333333px;
    font-size: 13.3333333333px;
    margin: 20px;
  }
}
@media screen and (max-width: 576px) {
  .recom__texto__descrip {
    border-radius: 2.9411764706px;
    font-size: 11.7647058824px;
    margin: 17.6470588235px;
  }
}

/* PAGINA: GENEROS PAGINAS */
p p:link {
  text-decoration: none;
}
p p:visited {
  text-decoration: none;
  color: black;
}

/* PAGINA: GENEROS*/
.genero_generos {
  margin: 50px;
  padding: 40px;
}

.genero_generos__titulogeneros {
  /* transform: translate(-50%,-50%);
    margin-left: 50%; */
  /* position: absolute; z-index:1; */
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
  background-color: rgb(8, 8, 126);
  border: 2px;
  border-style: solid;
  border-radius: 45px;
  border-color: rgb(206, 206, 207);
  color: white;
  font-family: "Source Serif Pro", serif, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .genero_generos__titulogeneros {
    border-radius: 37.5px;
    font-size: 16.6666666667px;
  }
}
@media screen and (max-width: 768px) {
  .genero_generos__titulogeneros {
    border-radius: 30px;
    font-size: 13.3333333333px;
  }
}
@media screen and (max-width: 576px) {
  .genero_generos__titulogeneros {
    border-radius: 25px;
    font-size: 11.1111111111px;
  }
}

.genero_generos__contenedor {
  display: flex;
  justify-content: center;
}

.genero_generos__contenedor__catalogo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 200px;
}

.genero_generos__contenedor__catalogo__genespecific {
  width: 350px;
  height: 130px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-content: center;
  border: 2px;
  border-style: solid;
  border-color: rgba(18, 86, 194, 0.592);
  border-radius: 25px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .genero_generos__contenedor__catalogo__genespecific {
    width: 291.6666666667px;
    height: 108.3333333333px;
    margin: 16.6666666667px;
    padding: 25px;
    border-radius: 20.8333333333px;
  }
}
@media screen and (max-width: 768px) {
  .genero_generos__contenedor__catalogo__genespecific {
    width: 233.3333333333px;
    height: 86.6666666667px;
    margin: 13.3333333333px;
    padding: 20px;
    border-radius: 16.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .genero_generos__contenedor__catalogo__genespecific {
    width: 194.4444444444px;
    height: 72.2222222222px;
    margin: 11.1111111111px;
    padding: 16.6666666667px;
    border-radius: 13.8888888889px;
  }
}

#genero_generos__contenedor__catalogo__genespecific--accion {
  background-image: url(/imagenes/generoAccion-min.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#genero_generos__contenedor__catalogo__genespecific--romance {
  background-image: url(/imagenes/animeRomance-min.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.genero_generos__contenedor__catalogo__genespecific__Nombre {
  font-size: 40px;
  text-align: center;
  /* padding: 10px; */
  background-color: rgba(18, 86, 194, 0.752);
  color: white;
  border: 0px;
  border-style: solid;
  border-color: rgba(18, 86, 194, 0.592);
  border-radius: 15px;
}
@media screen and (max-width: 1200px) {
  .genero_generos__contenedor__catalogo__genespecific__Nombre {
    font-size: 33.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .genero_generos__contenedor__catalogo__genespecific__Nombre {
    font-size: 26.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .genero_generos__contenedor__catalogo__genespecific__Nombre {
    font-size: 22.2222222222px;
  }
}

.generos {
  display: flex;
  flex-direction: column;
}

.generos__descrip {
  width: 100%;
}

.generos__descrip__titulo {
  width: 100%;
  margin-left: 20%;
  padding: 15px;
  display: flex;
  text-align: center;
  max-width: 200px;
  max-height: 200px;
  background-color: rgb(18, 85, 194);
  border: 0px;
  border-style: solid;
  border-radius: 45px;
  border-color: rgb(206, 206, 207);
  color: white;
  font-family: "Source Serif Pro", serif, Arial, Helvetica, sans-serif;
  font-size: 40px;
}
@media screen and (max-width: 1200px) {
  .generos__descrip__titulo {
    padding: 12.5px;
    border-radius: 37.5px;
    font-size: 33.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .generos__descrip__titulo {
    padding: 10px;
    border-radius: 30px;
    font-size: 26.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .generos__descrip__titulo {
    padding: 8.3333333333px;
    border-radius: 25px;
    font-size: 22.2222222222px;
  }
}

.generos__descrip__parrafo {
  text-align: center;
  background-color: rgb(189, 189, 189);
  width: 40%;
  margin-left: 20%;
  font-size: 40px;
  padding: 10px;
  border: 0;
  border-style: solid;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .generos__descrip__parrafo {
    font-size: 33.3333333333px;
    padding: 8.3333333333px;
    border-radius: 8.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .generos__descrip__parrafo {
    font-size: 26.6666666667px;
    padding: 6.6666666667px;
    border-radius: 6.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .generos__descrip__parrafo {
    font-size: 22.2222222222px;
    padding: 5.5555555556px;
    border-radius: 5.5555555556px;
  }
}

/* PAGINA: QUIENSOY*/
.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  background-color: rgba(18, 86, 194, 0.727);
  border: 0px;
  border-style: solid;
  border-radius: 15px;
  padding: 5%;
}
@media screen and (max-width: 1200px) {
  .presentacion {
    margin: 8.3333333333%;
    border-radius: 12.5px;
    padding: 4.1666666667%;
  }
}
@media screen and (max-width: 768px) {
  .presentacion {
    margin: 6.6666666667%;
    border-radius: 10px;
    padding: 3.3333333333%;
  }
}
@media screen and (max-width: 576px) {
  .presentacion {
    margin: 5.5555555556%;
    border-radius: 8.3333333333px;
    padding: 2.7777777778%;
  }
}

.presentacion__titulo {
  background-color: rgb(189, 189, 189);
  padding: 10px;
  border: 0px;
  border-style: solid;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .presentacion__titulo {
    padding: 8.3333333333px;
    border-radius: 8.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .presentacion__titulo {
    padding: 6.6666666667px;
    border-radius: 6.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .presentacion__titulo {
    padding: 5.5555555556px;
    border-radius: 5.5555555556px;
  }
}

.presentacion__descripcion {
  background-color: rgb(189, 189, 189);
  padding: 10px;
  border: 0px;
  border-style: solid;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .presentacion__descripcion {
    padding: 8.3333333333px;
    border-radius: 8.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .presentacion__descripcion {
    padding: 6.6666666667px;
    border-radius: 6.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .presentacion__descripcion {
    padding: 5.5555555556px;
    border-radius: 5.5555555556px;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .formulario {
    width: 83.3333333333%;
    height: 416.6666666667px;
    margin-bottom: 83.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .formulario {
    width: 66.6666666667%;
    height: 333.3333333333px;
    margin-bottom: 66.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .formulario {
    width: 55.5555555556%;
    height: 277.7777777778px;
    margin-bottom: 55.5555555556px;
  }
}

.formulario__titulo {
  background-color: rgb(189, 189, 189);
  padding: 10px;
  text-align: center;
  border: 0px;
  border-style: solid;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .formulario__titulo {
    padding: 8.3333333333px;
    border-radius: 8.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .formulario__titulo {
    padding: 6.6666666667px;
    border-radius: 6.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .formulario__titulo {
    padding: 5.5555555556px;
    border-radius: 5.5555555556px;
  }
}

.formulario__datos {
  background-color: rgba(18, 86, 194, 0.736);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  height: 500px;
  width: 500px;
  max-width: 500px;
  border: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(189, 189, 189);
}
@media screen and (max-width: 1200px) {
  .formulario__datos {
    height: 416.6666666667px;
    width: 416.6666666667px;
    max-width: 416.6666666667px;
    border-radius: 8.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .formulario__datos {
    height: 333.3333333333px;
    width: 333.3333333333px;
    max-width: 333.3333333333px;
    border-radius: 6.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .formulario__datos {
    height: 277.7777777778px;
    width: 277.7777777778px;
    max-width: 277.7777777778px;
    border-radius: 5.5555555556px;
  }
}

.formulario__datos__cartel {
  text-align: center;
  background-color: #ed8526;
  padding: 5px;
  border: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(189, 189, 189);
}
@media screen and (max-width: 1200px) {
  .formulario__datos__cartel {
    padding: 4.1666666667px;
    border-radius: 8.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .formulario__datos__cartel {
    padding: 3.3333333333px;
    border-radius: 6.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .formulario__datos__cartel {
    padding: 2.7777777778px;
    border-radius: 5.5555555556px;
  }
}

.form-label {
  background-color: rgb(189, 189, 189);
  padding: 10px;
  width: 400px;
  border: 0px;
  border-style: solid;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .form-label {
    margin: 8.3333333333px;
    padding: 8.3333333333px;
    width: 333.3333333333px;
    border-radius: 8.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .form-label {
    margin: 6.6666666667px;
    padding: 6.6666666667px;
    width: 266.6666666667px;
    border-radius: 6.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .form-label {
    margin: 5.5555555556px;
    padding: 5.5555555556px;
    width: 222.2222222222px;
    border-radius: 5.5555555556px;
  }
}

.formulario__datos__cartel__input--input {
  outline: none;
}

.btn-success {
  color: #fff;
  background-color: #ed8526;
  border-color: #ed8526;
  margin: 20px;
  padding: 10px;
}
@media screen and (max-width: 1200px) {
  .btn-success {
    margin: 16.6666666667px;
    padding: 8.3333333333px;
  }
}
@media screen and (max-width: 768px) {
  .btn-success {
    margin: 13.3333333333px;
    padding: 6.6666666667px;
  }
}
@media screen and (max-width: 576px) {
  .btn-success {
    margin: 11.1111111111px;
    padding: 5.5555555556px;
  }
}

/* PIE DE PAGINA */
.piedepagina {
  grid-area: footer;
  background-color: rgb(18, 85, 194);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0px;
  border-style: solid;
  bottom: 0;
  width: 100%;
}

.piedepagina__redes__iconos {
  display: inline;
  padding: 20px;
}
@media screen and (max-width: 1200px) {
  .piedepagina__redes__iconos {
    padding: 16.6666666667px;
  }
}
@media screen and (max-width: 768px) {
  .piedepagina__redes__iconos {
    padding: 13.3333333333px;
  }
}
@media screen and (max-width: 576px) {
  .piedepagina__redes__iconos {
    padding: 11.1111111111px;
  }
}

.piedepagina__redes__titulo {
  padding: 20px;
  color: white;
}
@media screen and (max-width: 1200px) {
  .piedepagina__redes__titulo {
    padding: 16.6666666667px;
  }
}
@media screen and (max-width: 768px) {
  .piedepagina__redes__titulo {
    padding: 13.3333333333px;
  }
}
@media screen and (max-width: 576px) {
  .piedepagina__redes__titulo {
    padding: 11.1111111111px;
  }
}

.piedepagina__redes__iconos__redes {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  color: white;
}
@media screen and (max-width: 1200px) {
  .piedepagina__redes__iconos__redes {
    padding: 16.6666666667px;
    width: 41.6666666667px;
    height: 41.6666666667px;
  }
}
@media screen and (max-width: 768px) {
  .piedepagina__redes__iconos__redes {
    padding: 13.3333333333px;
    width: 33.3333333333px;
    height: 33.3333333333px;
  }
}
@media screen and (max-width: 576px) {
  .piedepagina__redes__iconos__redes {
    padding: 11.1111111111px;
    width: 27.7777777778px;
    height: 27.7777777778px;
  }
}

.piedepagina__agradecimiento {
  color: white;
  padding: 20px;
}
@media screen and (max-width: 1200px) {
  .piedepagina__agradecimiento {
    padding: 16.6666666667px;
  }
}
@media screen and (max-width: 768px) {
  .piedepagina__agradecimiento {
    padding: 13.3333333333px;
  }
}
@media screen and (max-width: 576px) {
  .piedepagina__agradecimiento {
    padding: 11.1111111111px;
  }
}

/*# sourceMappingURL=turefotaku.css.map */
